* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  margin-left: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* 
#home {
  background: #1d1d1d;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 3em;
}

.hero button {
  padding: 10px 20px;
  background-color: #ff9900;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
} */

/* Container for hero section */
#home {
  position: relative;
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
}

/* Hero Section Styling */
.hero {
  position: relative;
  width: 100%;
  height: 60vh; /* Ensure it spans the full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text Styling */
.hero h2 {
  font-size: 3em;
  z-index: 1;
  position: relative;
}

.hero p {
  font-size: 1.2em;
  z-index: 1;
  position: relative;
}

.hero button {
  padding: 10px 20px;
  background-color: #ff9900;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}




#products {
  padding: 50px 20px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

.product-card p {
  color: #888;
}

.product-card button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #ff9900;
}

#cart {
  padding: 50px 20px;
  text-align: center;
}

#cart-content {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#checkout {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.search{
  height: 35px;
  width: 200px;
  border-radius: 20px;
}
